.loadingDiv,
.errorDiv {
    margin: auto auto;
    text-align: center;
    padding-top: 40vh;
}

.table {
    th {
        border-bottom: 1px solid black;
    }
    td {
        padding: 20px 5px;
    }
    // tr:first-child {
    //     td {
    //         padding-top: 20px;
    //     }
    // }
}
