@use "@styles/_variables.scss" as vars;

.questionDiag form {
  top: 20px;
}

.questionDiagDiv {
  min-height: 80px;
  min-width: 400px;
  padding: 10px;
  padding-top: 15px;
  background-color: white;
  border-radius: 15px;
  align-self: flex-start;
  text-align: center;
  font-size: 13px;
  opacity: 1;
  animation: diagAppear 0.5s;
}

@keyframes diagAppear {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
  }
}

.questionDiagDiv > div {
  /* display: flex; */
  margin-top: 20px;
}

.buttonsDiv {
  display: flex;
  justify-content: end;

  button {
    padding: 5px 15px;
    min-width: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    gap: 6px;
    text-align: center;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-1px);
    }

    &:first-child {
      margin-right: 10px;
      background-color: vars.$mainBlueColor;
      color: white;
      &:hover,
      &:focus {
        background-color: vars.$darkBlueColor;
      }
      &:active {
        box-shadow: inset 3px 3px 5px rgb(0, 0, 0);
      }
    }

    &:last-child {
      background-color: #d0e7ff;
      color: black;
      margin-right: 10px;
      &:hover,
      &:focus {
        background-color: #cbdbf0;
      }
      &:active {
        box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.6);
      }
    }
  }
}
