@import "/src/styles/animations.scss";
@import "/src/styles/_variables.scss";

.bodyHome {
  display: flex;
  font-weight: 500;
  background-color: $primaryColor;
  height: 100vh;

  .contentHome {
    padding-left: 5%;
    transition: padding-left 0.3s;
    width: 100%;
    transition: padding-left 0.3s ease-in-out;

    @media (max-width: 1450px) {
      padding-left: 0;
    }

    &.shifted {
      padding-left: 20%;

      @media (max-width: 768px) {
        padding-left: 0;
      }
    }

    .containerHome {
      height: 100vh;
    }
  }
}
