@use '@styles/_common-styles.scss' as common;
@use "@styles/_variables.scss" as vars;

.dialogContent {
    p {
        margin-bottom: 20px;
    }

    .columnMapping {
        display: grid;
        grid-template-columns:  minmax(0, 1fr) 300px minmax(0, 1fr);
        align-items: center;
        gap: 16px;
        margin-bottom: 12px;
        
        label {
            text-align: right;
            padding-right: 8px;
            font-weight: 500;
            color: #495057;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .select {
            width: 100%;
            margin: 0;
        }
    }
}

.select {
    @extend %base-input;
    appearance: none;
    width: 100%; 
    max-width: 400px;
    padding: 8px 35px 8px 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236c757d' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
    
    option:disabled {
        color: #adb5bd;
        background-color: #f8f9fa;
    }
}


.inputDiv {
    display: flex;
    align-items: center;
    padding-right: 30px;

    
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    label {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #edf2f7;;
            transform: translateY(-1px);
        }

    }
}